<h1>this blogs</h1>
	<% if current_user %>

		<div>
			<p>
				<strong>Title: </strong><%= @blog.title %>
			</p>
			<p>
				<strong>Country: </strong><%= @blog.country%>
			</p>
			<p>
				<strong>Picture: </strong><%= @blog.description %>
			</p>
			<p>
				<strong>Description: </strong><%= @blog.description%>
			</p>
		</div>
	<% end%>

 

