
@import "bootstrap-sprockets";
@import "bootstrap";


.btn-warning{
  margin-left: 150px;
  height: 40px;
  margin-top: 6px;
  text-align: center;

}

.home_welcome {
  width: 20%;
  margin-top: 20%;
  margin-left: 40%;
  background-color: grey;
  text-align: center;
  border-radius: 5%;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.btn-success {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10%;
}


BODY  {
  background: url('http://i.imgur.com/JcUBRz2.jpg') no-repeat center ;
  width: 100%;
  height: 500px;

}



#search_box {
  background: #ffffff !important;
  width: 260px;
        height:40px;
  color: #666666;
  font-size: 12px;
  font-family: Frutiger Linotype, Tahoma, Verdana;
  font-weight: normal;
  padding: 3px 0px 4px 5px;
  border-top: 1px solid #d6d5d5;
  border-right: 1px solid #d6d5d5;
  border-left: 1px solid #d6d5d5;
  border-bottom: 1px solid #d6d5d5;
  background-color: lightgrey;
  opacity: 0.6;
  filter: alpha(opacity=60);
  margin-left: 100px;

}

.btn-primary {
  margin-right: 10px;
  height: 40px;
  margin-top: 5px;
  text-align: center;
  width: 60px;
}

.submit {
   margin-left:5px;
   height: 40px;
  margin-top: 5px;
  border-radius: 5%;
  background-color: #4ca6cf;
}

.login {

  width: 30%;
  margin-top: 20%;
  margin-left: 40%;
  background-color: grey;
  text-align: center;
  border-radius: 5%;
  opacity: 0.6;
  filter: alpha(opacity=60);

}


.login_button {
  margin-left: 13%;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10%;
  background-color: #4ca6cf;
  width: 30%;

}

#email {
   margin-left: 13%;
  margin-top: 10px;
  width: 60%;

}

#password {
  margin-left: 13%;
  width: 50%;
}

.all_blogs {
  width: 70%;
  margin-top: 10%;
  margin-left: 15%;
  background-color: grey;
  text-align: center;
  opacity: 0.85;
  filter: alpha(opacity=60);
  color: white;
  height: 100%;
  border: solid black 5px;
  padding-right: 90px;
}

.buttons {
  display: inline-block;
  list-style: none;
  margin: 0 auto;
}

TD {
  width: 40%;
}

TH {
  color: black;
   width: 40%;
   text-align: center;
   font-size: 16px;
}

#address-map {
  width: 70%;
  height: 600px;
  margin: 5% 10% 5% 10%;
  border: solid white 10px;
  opacity: 0.85;
  filter: alpha(opacity=60);
}

H1 {
  color: black;
}

.profile {

  width: 30%;
  height: 100%;
  background: black;
  opacity: 0.85;
 margin: 0 auto;
 margin-top: 10%;
 text-align: center;
 border-radius: 5%;
 padding-botton: 10px;
 padding-top: 20px;
}

.signup {
width: 30%;
  height: 600px;
  background: black;
  opacity: 0.85;
 margin: 0 auto;
 text-align: center;
 color: grey;
  
}

.blog {
width: 30%;
  height: 100%;
  background: black;
  opacity: 0.85;
 margin: 0 auto;
 text-align: center;
 margin-top: 10%;
 color: white;
 padding-top: 20px;
  
}

.signupl {
  margin-left: 50%;
  margin-top: 20px;
}

.userb {
  width: 70%;
  margin-top: 20%;
  margin-left: 15%;
  background-color: grey;
  text-align: center;
  opacity: 0.85;
  filter: alpha(opacity=60);
  color: white;
  height: 50%;
  border: solid black 5px;
  
}

.user_profile {
width: 30%;
  height: 100%;
  background: black;
  opacity: 0.85;
 margin: 0 auto;
 margin-top: 10%;
 text-align: center;
 border-radius: 5%;
 padding-botton: 10px;
  
}
