<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BConnect</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
<!-- <%# if current_user %>
<h3>Account: <%#= current_user.username %></h3>
<h3>Email Address: <%#= current_user.email %> </h3>
<%# end %> -->
<%= yield %>

</body>
</html>
